/*********************************************************
***** custom styles for overriding ***********************
***** bootstrap styles or adding new ones ****************
**********************************************************
***** be-codified | http://www.be-codified.com *********** 
*********************************************************/

/*** general 
*********************************************************/

body {
    background-color: #ffffff;
    position: relative;
}

/*** header 
*********************************************************/

.avatar {
    .circle {
        display: block;
        width: 400px;
        height: 400px;    
        position: absolute;
        top: 200px;
        left: 200px;
        border-radius: 50%;
    }

    .photo {
        background-image: url('../img/avatar_testing_image.jpg');
        border: 10px solid red;
        z-index: 1000;
        .circle;
    }

    @circle-small-color: blue;
    @circle-large-color: blue;

    .circle-small {
        border: 5px solid @circle-small-color;
        background-color: lighten(@circle-small-color, 10%);
        z-index: 999;
        .circle;
    }

    .circle-large {
        border: 5px solid @circle-large-color;
        background-color: lighten(@circle-large-color, 10%);
        z-index: 998;
        .circle;
    }
}