/*********************************************************
***** custom styles for overriding ***********************
***** bootstrap styles or adding new ones ****************
**********************************************************
***** be-codified | http://www.be-codified.com *********** 
*********************************************************/

/*** general 
*********************************************************/

body {
    background-color: #ffffff;
    position: relative;
}

.clearfix {
    clear: both;
}

@main-color-1: #93b1bb;
@main-color-2: #33435d;
@main-color-3: #fcb122;

.main-color-1 { background-color: @main-color-1; }
.main-color-2 { background-color: @main-color-2; }

ul {
    padding: 0;
    line-height: 140%;
    list-style: none;

    li {
        text-indent: -20px;
        padding: 0 0 10px 20px;    
    }
}


/*** typography
*********************************************************/

body {
    font-size: 16px;
    color: #ffffff;
}

ul.achievements {
    font-size: 18px;    
}

.intro h2 {
    font-size: 32px;
    line-height: 130%;

    span {
        display: block;
        padding-bottom: 20px;
    }
}

h2 {
    padding-bottom: 20px;
    font-size: 40px;
    line-height: 130%;    
}

p.lead {
    font-size: 18px;
}

ul.strenghts li:before,
ul.skills li:before {
    content: '+';
    padding-right: 10px;
}

ul.strenghts {
    li:before {
        color: @main-color-3;
    }

    ul.strenghts strong {
        color: @main-color-3;
    }
}

ul.skills strong {
    color: @main-color-2;
}

/*** layout
*********************************************************/

ul.achievements {
    li {
        text-indent: 0;
        padding: 0;
        background-color: @main-color-1;
        margin-bottom: 20px;
        width: 300px;
        display: block;
        opacity: 0.9;
    } 

    .values,
    .desc {
        float: left;
    }

    .values {
        display: inline-block;
        width: 70px;
        height: 70px;
        background-color: @main-color-3;    
    }
}






// to delete at the end of project

/*** header 
*********************************************************/

.avatar {
    .circle {
        display: block;
        width: 400px;
        height: 400px;    
        position: absolute;
        top: 200px;
        left: 200px;
        border-radius: 50%;
    }

    .photo {
        background-image: url('../img/avatar_testing_image.jpg');
        border: 10px solid red;
        z-index: 1000;
        .circle;
    }

    @circle-small-color: blue;
    @circle-large-color: blue;

    .circle-small {
        border: 5px solid @circle-small-color;
        background-color: lighten(@circle-small-color, 10%);
        z-index: 999;
        .circle;
    }

    .circle-large {
        border: 5px solid @circle-large-color;
        background-color: lighten(@circle-large-color, 10%);
        z-index: 998;
        .circle;
    }
}