/*********************************************************
***** custom styles for overriding ***********************
***** bootstrap styles or adding new ones ****************
**********************************************************
***** be-codified | http://www.be-codified.com *********** 
*********************************************************/
/*** general
*********************************************************/
body {
  background-color: #ffffff;
  position: relative;
}
.clearfix {
  clear: both;
}
.main-color-1 {
  background-color: #93b1bb;
}
.main-color-2 {
  background-color: #b41c1c;
}
.main-color-4 {
  background-color: #bfbfbf;
}
::selection {
  background-color: #fcb123;
  color: #ffffff;
}
::-moz-selection {
  background-color: #fcb123;
  color: #ffffff;
}
ul {
  padding: 0;
  line-height: 160%;
  list-style: none;
}
ul li {
  text-indent: -20px;
  padding: 0 0 10px 20px;
}
/*** logo
*********************************************************/
header h1 {
  margin: 55px 0 65px 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 230px;
  height: 47px;
  background: url('../img/logo.svg') no-repeat 0 0 transparent;
  display: block;
}
header h1 a {
  display: block;
  width: 230px;
  height: 47px;
}
/*** profile
*********************************************************/
.profile {
  background: url('../img/profile.jpg') 50% 50% transparent no-repeat;
  background-size: cover;
  padding-top: 275px;
  display: block;
}
/*** typography
*********************************************************/
@font-face {
  font-family: 'ralewaysemibold';
  src: url('../fonts/raleway-semibold-webfont.eot');
  src: url('../fonts/raleway-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-semibold-webfont.woff2') format('woff2'), url('../fonts/raleway-semibold-webfont.woff') format('woff'), url('../fonts/raleway-semibold-webfont.ttf') format('truetype'), url('../fonts/raleway-semibold-webfont.svg#ralewaysemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ralewayextralight';
  src: url('../fonts/raleway-extralight-webfont.eot');
  src: url('../fonts/raleway-extralight-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-extralight-webfont.woff2') format('woff2'), url('../fonts/raleway-extralight-webfont.woff') format('woff'), url('../fonts/raleway-extralight-webfont.ttf') format('truetype'), url('../fonts/raleway-extralight-webfont.svg#ralewayextralight') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-size: 16px;
  color: #ffffff;
  font-family: 'ralewayextralight', sans-serif;
}
ul.achievements {
  font-size: 18px;
}
ul.achievements .values {
  text-align: center;
}
ul.achievements .values .counter {
  font-size: 40px;
  line-height: 70px;
  font-family: 'ralewaysemibold', sans-serif;
  color: #ffffff;
}
ul.achievements .values .counter.small {
  font-size: 30px;
}
ul.achievements .values .counter.smaller {
  font-size: 25px;
}
ul.achievements .desc {
  color: #ffffff;
  font-size: 22px;
  line-height: 24px;
}
h2 {
  padding: 40px 0;
  font-size: 50px;
  line-height: 125%;
}
h2.smaller {
  font-size: 35px;
}
.intro h2 {
  font-size: 44px;
  line-height: 125%;
  padding: 0 0 5px 0;
}
.intro h2 strong {
  font-family: 'ralewaysemibold', sans-serif;
}
p.lead {
  font-size: 22px;
}
ul.plus-bullets li:before {
  font-family: 'ralewaysemibold', sans-serif;
  font-size: 20px;
  content: '+';
  padding-right: 10px;
  position: relative;
  top: 2px;
}
ul.plus-bullets li:last-child {
  padding-bottom: 50px;
}
ul.strenghts li:before,
.how-made ul li:before {
  color: #e86868;
}
ul.strenghts strong,
.how-made ul strong {
  background-color: #e45252;
  color: #fff;
  padding: 2px 6px;
}
ul.skills li:before,
ul.tools li:before {
  color: #d2dee2;
}
ul.skills li strong,
ul.tools li strong {
  text-indent: 0;
  display: inline-block;
  color: #ffffff;
  background-color: #7a9fab;
  padding: 2px 6px;
  border-bottom: 3px solid #93b1bb;
}
ul li strong.reduced-right-padding {
  padding-right: 2px;
}
ul.tools a,
.how-made a {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  border-bottom: 1px solid #ffffff;
  text-indent: 0;
}
ul.tools a:hover,
.how-made a:hover,
ul.tools a:active,
.how-made a:active {
  text-decoration: none;
}
ul.tools .warning,
.how-made .warning {
  font-size: 13px;
  color: #e1eaec;
}
ul.tools .warning span,
.how-made .warning span {
  text-transform: uppercase;
}
ul.tools i.fa-heart,
.how-made i.fa-heart,
ul.tools i.fa-camera,
.how-made i.fa-camera {
  border-bottom: 1px dotted #ffffff;
  padding-bottom: 7px;
}
ul.tools i:hover + .reference-point .bubble,
.how-made i:hover + .reference-point .bubble {
  display: block !important;
}
.how-made p.first {
  padding-bottom: 20px;
}
.how-made p.last {
  padding-bottom: 50px;
}
.portfolio .latest {
  font-size: 20px;
  font-family: 'ralewayextralight', sans-serif;
  padding-top: 55px;
}
.portfolio h2 {
  font-size: 28px;
  font-family: 'ralewaysemibold', sans-serif;
  padding-top: 0;
  margin-top: -12px;
}
.business-owner {
  font-size: 13px;
}
.business-owner small {
  font-size: 11px;
}
/*** layout
*********************************************************/
ul.achievements li {
  text-indent: 0;
  padding: 0;
  background-color: #93b1bb;
  margin: 0 0 10px 25px;
  width: 230px;
  display: block;
  opacity: 0.85;
}
ul.achievements li:last-child {
  margin-bottom: 30px;
}
ul.achievements .values,
ul.achievements .desc {
  float: left;
}
ul.achievements .values {
  display: inline-block;
  width: 70px;
  height: 70px;
  background-color: #fcb123;
}
ul.achievements .desc {
  padding: 11px 0 0 20px;
}
.business-owner {
  background-color: #332e2b;
  padding: 15px 0;
  position: relative;
}
.how-made .reference-point {
  position: relative;
}
.how-made .reference-point .bubble {
  display: none;
  position: absolute;
  top: -73px;
  left: -41px;
  width: 250px;
  height: 40px;
  line-height: 40px;
  background-color: #e86868;
  padding: 0 10px;
  text-align: center;
}
.how-made .reference-point .bubble:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: 30px;
  top: 40px;
  border: 10px solid;
  border-color: #e86868 transparent transparent #e86868;
}
/*** portfolio
*********************************************************/
.portfolio {
  /* &.item-1 { background: url('../img/portfolio-1.png') 50% 100% transparent no-repeat; } */
}
.portfolio.item-2 {
  background: url('../img/portfolio-2.png') 50% 100% transparent no-repeat;
}
.portfolio.item-3 {
  background: url('../img/portfolio-3.png') 50% 100% transparent no-repeat;
}
.portfolio.item-1,
.portfolio.item-2,
.portfolio.item-3 {
  background-size: 100%;
}
.portfolio .more {
  display: block;
  width: 60px;
  height: 60px;
  background-image: url('../img/icon-eye.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-color: #fcb123;
  margin-bottom: 25px;
}
/*** icons
*********************************************************/
.contacts li a {
  display: block;
  padding-left: 100px;
  background-positions: 0 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100px 160px;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  height: 120px;
  padding-top: 44px;
}
.contacts li a.email {
  background-image: url('../img/icon-email.svg');
}
.contacts li a.skype {
  background-image: url('../img/icon-skype.svg');
  margin-top: -50px;
}
.contacts li a.phone {
  background-image: url('../img/icon-phone.svg');
  margin-top: -45px;
}
.contacts li a.twitter {
  background-image: url('../img/icon-twitter.svg');
  margin-top: -40px;
}
/*** flatten shadows
*********************************************************/
ul.achievements li {
  box-shadow: rgba(0, 0, 0, 0.05) 1px 1px, rgba(0, 0, 0, 0.05) 2px 2px, rgba(0, 0, 0, 0.05) 3px 3px, rgba(0, 0, 0, 0.05) 4px 4px, rgba(0, 0, 0, 0.05) 5px 5px, rgba(0, 0, 0, 0.05) 6px 6px, rgba(0, 0, 0, 0.05) 7px 7px, rgba(0, 0, 0, 0.05) 8px 8px, rgba(0, 0, 0, 0.05) 9px 9px, rgba(0, 0, 0, 0.05) 10px 10px, rgba(0, 0, 0, 0.05) 11px 11px, rgba(0, 0, 0, 0.045) 12px 12px, rgba(0, 0, 0, 0.04) 13px 13px, rgba(0, 0, 0, 0.035) 14px 14px, rgba(0, 0, 0, 0.03) 15px 15px, rgba(0, 0, 0, 0.025) 16px 16px, rgba(0, 0, 0, 0.02) 17px 17px, rgba(0, 0, 0, 0.015) 18px 18px, rgba(0, 0, 0, 0.01) 19px 19px, rgba(0, 0, 0, 0) 20px 20px;
}
