/*********************************************************
***** custom styles for overriding ***********************
***** bootstrap styles or adding new ones ****************
**********************************************************
***** be-codified | http://www.be-codified.com *********** 
*********************************************************/
/*** general 
*********************************************************/
body {
  background-color: #ffffff;
  position: relative;
}
.clearfix {
  clear: both;
}
.main-color-1 {
  background-color: #93b1bb;
}
.main-color-2 {
  background-color: #b41c1c;
}
::selection {
  background-color: #fcb123;
  color: #ffffff;
}
::-moz-selection {
  background-color: #fcb123;
  color: #ffffff;
}
ul {
  padding: 0;
  line-height: 160%;
  list-style: none;
}
ul li {
  text-indent: -20px;
  padding: 0 0 10px 20px;
}
/*** logo
*********************************************************/
header h1 {
  margin: 55px 0 65px 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 230px;
  height: 47px;
  background: url('../img/logo.svg') no-repeat 0 0 transparent;
  display: block;
}
header h1 a {
  display: block;
  width: 230px;
  height: 47px;
}
/*** avatar
*********************************************************/
.avatar {
  background: url('../img/avatar.jpg') 50% 50% transparent no-repeat;
  background-size: cover;
  height: 540px;
  padding-top: 275px;
  display: block;
}
/*** typography
*********************************************************/
@font-face {
  font-family: 'ralewaysemibold';
  src: url('../fonts/raleway-semibold-webfont.eot');
  src: url('../fonts/raleway-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-semibold-webfont.woff2') format('woff2'), url('../fonts/raleway-semibold-webfont.woff') format('woff'), url('../fonts/raleway-semibold-webfont.ttf') format('truetype'), url('../fonts/raleway-semibold-webfont.svg#ralewaysemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ralewayextralight';
  src: url('../fonts/raleway-extralight-webfont.eot');
  src: url('../fonts/raleway-extralight-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-extralight-webfont.woff2') format('woff2'), url('../fonts/raleway-extralight-webfont.woff') format('woff'), url('../fonts/raleway-extralight-webfont.ttf') format('truetype'), url('../fonts/raleway-extralight-webfont.svg#ralewayextralight') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-size: 16px;
  color: #ffffff;
  font-family: 'ralewayextralight', sans-serif;
}
ul.achievements {
  font-size: 18px;
}
ul.achievements .values {
  text-align: center;
}
ul.achievements .values .counter {
  font-size: 40px;
  line-height: 70px;
  font-family: 'ralewaysemibold', sans-serif;
  color: #ffffff;
}
ul.achievements .values .counter.small {
  font-size: 30px;
}
ul.achievements .values .counter.smaller {
  font-size: 25px;
}
ul.achievements .desc {
  color: #ffffff;
  font-size: 22px;
  line-height: 24px;
}
h2 {
  padding: 40px 0;
  font-size: 50px;
  line-height: 125%;
}
.intro h2 {
  font-size: 44px;
  line-height: 125%;
  padding: 0 0 5px 0;
}
.intro h2 strong {
  font-family: 'ralewaysemibold', sans-serif;
}
p.lead {
  font-size: 22px;
}
ul.strenghts li:before,
ul.skills li:before {
  font-family: 'ralewaysemibold', sans-serif;
  font-size: 20px;
  content: '+';
  padding-right: 10px;
  position: relative;
  top: 2px;
}
ul.strenghts li:last-child,
ul.skills li:last-child {
  padding-bottom: 50px;
}
ul.strenghts li:before {
  color: #e86868;
}
ul.strenghts strong {
  background-color: #e45252;
  color: #fff;
  padding: 2px 6px;
}
ul.skills li:before {
  color: #d2dee2;
}
ul.skills li strong {
  text-indent: 0;
  display: inline-block;
  color: #ffffff;
  background-color: #7a9fab;
  padding: 2px 6px;
  border-bottom: 3px solid #93b1bb;
}
ul li strong.reduced-right-padding {
  padding-right: 2px;
}
/*** layout
*********************************************************/
.intro {
  padding-right: 70px;
  height: 540px;
}
ul.achievements li {
  text-indent: 0;
  padding: 0;
  background-color: #93b1bb;
  margin: 0 0 10px 25px;
  width: 230px;
  display: block;
  opacity: 0.85;
}
ul.achievements .values,
ul.achievements .desc {
  float: left;
}
ul.achievements .values {
  display: inline-block;
  width: 70px;
  height: 70px;
  background-color: #fcb123;
}
ul.achievements .desc {
  padding: 11px 0 0 20px;
}
/*** icons
*********************************************************/
.contacts li a {
  display: block;
  padding-left: 100px;
  background-positions: 0 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100px 160px;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  height: 120px;
  padding-top: 44px;
}
.contacts li a.email {
  background-image: url('../img/icon_email.svg');
}
.contacts li a.skype {
  background-image: url('../img/icon_skype.svg');
  margin-top: -50px;
}
.contacts li a.phone {
  background-image: url('../img/icon_phone.svg');
  margin-top: -45px;
}
.contacts li a.twitter {
  background-image: url('../img/icon_twitter.svg');
  margin-top: -40px;
}
/*** flatten shadows
*********************************************************/
ul.achievements li {
  box-shadow: rgba(80, 80, 80, 0.2) 1px 1px, rgba(80, 80, 80, 0.2) 2px 2px, rgba(80, 80, 80, 0.2) 3px 3px, rgba(80, 80, 80, 0.2) 4px 4px, rgba(80, 80, 80, 0.2) 5px 5px, rgba(80, 80, 80, 0.2) 6px 6px, rgba(80, 80, 80, 0.2) 7px 7px, rgba(80, 80, 80, 0.2) 8px 8px, rgba(80, 80, 80, 0.2) 9px 9px, rgba(80, 80, 80, 0.2) 10px 10px;
}
