/**
 *
 * Knowledge styles
 *
 */

$class-name: knowledge;

.#{$class-name} {
  &__highlight {
    color: map-get($colors, white);
    background-color: map-get($colors, gray);
  }

  &__code {
    background-color: pink;
  }
}
