/**
 *
 * Debug breakpoint helper styles
 *
 */

@if $debug == true {
  html {
    &::before {
      color: map-get($colors, white);
      background-color: map-get($colors, debug);
      display: inline-block;
      padding: 5px 8px;
      content: 'Screen mobile';

      @include breakpoint('tablet') { content: 'Screen tablet'; }
      @include breakpoint('desktop') { content: 'Screen desktop '; }
      @include breakpoint('desktopHD') { content: 'Screen desktop HD'; }
    }
  }
}
