/**
 *
 * Debug breakpoint helper styles
 *
 */

@if $debug == true {
  html {
    &::before {
      @extend .color-white;
      @extend .background-color-debug;
      display: inline-block;
      padding: 5px 8px;
      content: 'Screen mobile';

      @include breakpoint('tablet') { content: 'Screen tablet'; }
      @include breakpoint('desktop') { content: 'Screen desktop '; }
      @include breakpoint('desktopHD') { content: 'Screen desktop HD'; }
    }
  }
}
