## EXPIRES CACHING ##
    <IfModule mod_expires.c>
        ExpiresActive On
        ExpiresByType image/jpg "access 7 day"
        ExpiresByType image/jpeg "access 7 day"
        ExpiresByType image/gif "access 7 day"
        ExpiresByType image/png "access 7 day"
        ExpiresByType text/css "access 7 day"
        ExpiresByType text/html "access 3 hours"
        ExpiresByType application/pdf "access 3 hours"
        ExpiresByType text/x-javascript "access 3 hours"
        ExpiresByType application/x-shockwave-flash "access 3 hours"
        ExpiresByType image/x-icon "access 3 hours"
        ExpiresDefault "access 7 day"
    </IfModule>
## EXPIRES CACHING ##