<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

        <!-- fonts -->
        <!-- here goes fonts -->

        <!-- stylesheets -->
        <link href="{{ "../../../css/bootstrap.min.css" | prepend: site.baseurl }}" rel="stylesheet" media="screen" />
        <link href="{{ "../../../css/custom-styles.min.css" | prepend: site.baseurl }}" rel="stylesheet" media="screen" />

        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
        <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

        <!-- google analytics tracking code -->
        <script type="text/javascript">
            // here goes code
        </script>
    </head>