/**
 *
 * Drawer styles
 *
 */

$className: drawer;

$config: (
  transition: (
    duration: 300ms,
    easing: map-get($easing, normal),
  ),
  padding: 20px
);

.#{$className} {
  background-color: map-get($colors, map-get($colors, white));
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: map-get($config, padding);
  transform: translateX(-100%);
  transition: all map-get(map-get($config, transition), duration) map-get(map-get($config, transition), easing);

  &--fixed-for-tablet-and-below {
    transform: translateX(0);

    .#{$className}__button-close {
      display: block;
    }
  }

  &__button-open,
  &__button-close {
    margin-left: auto;
  }

  &__button-close {
    display: none;
  }

  &__button-open {
    display: block;
  }

  @include breakpoint('desktop') {
    display: block;

    &__button-open {
      display: none;
    }

    &--fixed-for-tablet-and-below {
      position: relative;

      .#{$className}__button-close {
        display: none;
      }
    }
  }
}
