/**
 *
 * Scroll bar vertical styles
 *
 */

$class-name: scroll-bar-vertical;
$sidebar-width: 8px;
$sidebar-indicator-color: map-get($colors, orange);

.#{$class-name} {
  background-color: lighten($sidebar-indicator-color, 35%);
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: $sidebar-width;

  &__indicator {
    position: absolute;
    left: 0;
    right: 0;
    width: $sidebar-width;
    background-color: $sidebar-indicator-color;
    border-radius: $sidebar-width / 2;
  }
}
