/**
 *
 * Scroll bar vertical styles
 *
 */

$className: scroll-bar-vertical;

$config: (
  width: 8px,
  indicator-color: map-get($colors, orange),
  transition: (
    duration: 100ms,
    easing: map-get(map-get($easing, in), out),
  )
);

.#{$className} {
  background-color: lighten(map-get($config, indicator-color), 35%);
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: map-get($config, width);

  &__indicator {
    position: absolute;
    left: 0;
    right: 0;
    width: map-get($config, width);
    background-color: map-get($config, indicator-color);
    border-radius: map-get($config, width) / 2;
    transition: transform map-get(map-get($config, transition), duration) map-get(map-get($config, transition), easing);
  }
}
