/**
 *
 * Button styles
 *
 */

$className: button;

.#{$className} {
  border: 1px solid map-get($colors, black);
  padding: 3px 5px;
  font: inherit;
  font-size: 12px;
  cursor: pointer;

  // Modifiers
  &--plain {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    font: inherit;
  }
}
